<div class="headerAtom">
    <h3>Icons </h3>
    <hr>
</div>

<div class="row">
    <div class="col-12">
        <h5><strong>Step 1</strong> - Install</h5>
        <div class="containerBtnCopy">
            <button (click)="copyText(codeInstall)" class="btn btn-outline-info">Copy
            </button>
        </div>
        <pre><code class="paddingCode" [highlight]="codeInstall"></code></pre>


        <h5><strong>Step 2</strong> - Styles and scripts Config</h5>
        <p>in angular.json add in "styles" and "scripts" the nexts lines</p>
        <div class="containerBtnCopy">
            <button (click)="copyText(codeAngularJson)" class="btn btn-outline-info">Copy
            </button>
        </div>
        <pre><code class="paddingCode" [highlight]="codeAngularJson"></code></pre>

        <h5>Imports</h5>
        <div class="containerBtnCopy">
            <button (click)="copyText(import)" class="btn btn-outline-info">Copy
            </button>
        </div>
        <pre><code class="paddingCode" [highlight]="import"></code></pre>
        <h5>Getting Started</h5>
        <div class="containerBtnCopy">
            <button (click)="copyText(gettingStarter)" class="btn btn-outline-info">Copy
            </button>
        </div>
        <pre><code class="paddingCode" [highlight]='gettingStarter'></code></pre>

        <h5>Attribute</h5>
        <ul>
            <li *ngFor="let attr of attribute">
                <strong>{{attr.tittle}} </strong> {{attr.description}}
            </li>
        </ul>
        <div class="row">
            <div class="col-8  mt-3">
                <h4 style="margin-top: 26px;">List of icons</h4>
            </div>
            <div class="col-4  mt-3">
                <che-input placeholder="Search" [(ngModel)]="textFilter"></che-input>
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-2 text-center icon" (click)="copyText(icon.ligadura,'Icon Copied!')"
                 *ngFor="let icon of listIcon | myfilter: textFilter">
                <div class="containerIcon">


                <che-icon type="light" icon="{{icon.ligadura}}"></che-icon>
                <br>
                <span>{{icon.ligadura}}</span>
                </div>
                <div class="divCopy">click to copy!</div>
            </div>

        </div>
    </div>


</div>


