.containerBtnCopy {
  text-align: right;
  margin-bottom: -29px;

  button{
    margin-bottom: -15px !important;margin-right: 5px;
  }
}

code {
  font-size: 0.8rem;
}


.paddingCode {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
