#cheCheckbox {
  display: inline-block;
  display: -moz-inline-stack; /* for firefox 2 */
  *display: inline; /* for ie 6 and 7 */
  .pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
  }

  /* Input */
  .pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    background-color: transparent;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.1s, transform 0.2s;
  }

  /* Span */
  .pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  /* Box */
  .pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
  }

  /* Checkmark */
  .pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }


  span:focus {
    border-color: yellow;
  }


  .pure-material-checkbox > .che-bg-danger:checked {
    border-color: var(--danger) !important;
    background-color: var(--danger) !important;
  }

  .che-bg-danger:checked + span:before {
    border-color: var(--danger) !important;
    background-color: var(--danger) !important;
  }

  .pure-material-checkbox > .che-bg-primary:checked {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
  }


  .che-bg-primary:checked + span:before {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
  }


  .pure-material-checkbox > .che-bg-warning:checked {
    border-color: var(--warning) !important;
    background-color: var(--warning) !important;
  }


  .che-bg-warning:checked + span:before {
    border-color: var(--warning) !important;
    background-color: var(--warning) !important;
  }


  .pure-material-checkbox > .che-bg-success:checked {
    border-color: var(--success) !important;
    background-color: var(--success) !important;
  }


  .che-bg-success:checked + span:before {
    border-color: var(--success) !important;
    background-color: var(--success) !important;
  }

  .pure-material-checkbox > .che-bg-secondary:checked {
    border-color: var(--secondary) !important;
    background-color: var(--secondary) !important;
  }


  .che-bg-secondary:checked + span:before {
    border-color: var(--secondary) !important;
    background-color: var(--secondary) !important;
  }


  .pure-material-checkbox > .che-bg-info:checked {
    border-color: var(--info) !important;
    background-color: var(--info) !important;
  }


  .che-bg-info:checked + span:before {
    border-color: var(--info) !important;
    background-color: var(--info) !important;
  }

  .pure-material-checkbox > .che-bg-dark:checked {
    border-color: var(--dark) !important;
    background-color: var(--dark) !important;
  }


  .che-bg-dark:checked + span:before {
    border-color: var(--dark) !important;
    background-color: var(--dark) !important;
  }

  .pure-material-checkbox > .che-bg-gray:checked {
    border-color: var(--gray) !important;
    background-color: var(--gray) !important;
  }


  .che-bg-gray:checked + span:before {
    border-color: var(--gray) !important;
    background-color: var(--gray) !important;
  }


  .pure-material-checkbox > input:checked + span::after,
  .pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  }

  .pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
  }


  /* Active */
  .pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
  }

  .pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }

  .pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  }

  /* Disabled */
  .pure-material-checkbox > input:disabled {
    opacity: 0;
  }

  .pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
  }

  .pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
  }

  .pure-material-checkbox > input:checked:disabled + span::before,
  .pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
  }


  .che-checkbox-focused {
    opacity: 0.12 !important;
  }


  span {
    user-select: none;
  }
}
