<nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 " style="height: 70px">
<img class="pl-2 logoClass" src="assets/logo.svg"/>
    <ul class="navbar-nav px-3 -nav ml-auto">


        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <span class="mr-2 d-none d-lg-inline text-black-50							 ">v0.0.0</span>
        </li>


    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky pb-5">
                <ul class="nav flex-column ">
                    <li class="nav-item " routerLink="/getStarted" >
                        <a class="nav-link active text-light" style="color:#72A60A !important;">
                            <span></span>
                            Get Started <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item " routerLink="/buttons">
                        <a class="nav-link active text-light">
                            <span></span>
                            Button <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLink="/input">
                        <a class="nav-link text-light">
                            <span data-feather="file"></span>
                            <span> Input</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLink="/checkbox">
                        <a class="nav-link text-light">
                            <span data-feather="shopping-cart"></span>
                            Checkbox
                        </a>
                    </li>
                    <li class="nav-item" routerLink="/textarea">
                        <a class="nav-link text-light">
                            <span data-feather="shopping-cart"></span>
                            Textarea
                        </a>
                    </li>
                    <li class="nav-item" routerLink="/icon">
                        <a class="nav-link text-light">
                            Icon
                        </a>
                    </li>

                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto mr-sm-auto ml-0 col-lg-10 main-bg px-4">
            <div class="ml-0">
                <router-outlet></router-outlet>

            </div>


        </main>
    </div>
</div>
