
#cheButton {
  display: inline-block;
  display: -moz-inline-stack; /* for firefox 2 */
  *display: inline; /* for ie 6 and 7 */

  button {
    position: relative;
    display: block;

    overflow: hidden;
    user-select: none;

  }


}




