@import '~highlight.js/styles/dracula.css';

textarea {
  resize: none;
  border: 1px solid transparent !important;
  height: 200px;
}


h5 {
  span {
    font-size: 12px !important;
    color: var(--primary);
    margin-left: 8px;
  }
}


.documentationBtn {
  font-size: 1.2rem;
  cursor: pointer;
}

.sourceBtn {
  font-size: 1.2rem;
  cursor: pointer;
}


  hr {
    margin-top: 0px !important;
  }


code {
  font-size: 0.8rem;
}


.buttonSelectLenguage {
  color: white;
  background: #282a36;
  /* width: 28%; */
  padding: 10px;
}

.btnLenguage {
  padding: 10px;
  cursor: pointer;
}


.paddingCode {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.containerBtnCopy {
  text-align: right;
  margin-bottom: -29px;

  button{
    margin-bottom: -15px !important;margin-right: 5px;
  }
}
